<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Abdurrahman's Game</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
  <button class="btn-primary" id="level-title">Press to Start</button>
  <div class="">
    <h4>HIGHSCORE: <%= highscore.score %> -- <%= highscore.name %></h4>
    <form class="username" action="/" method="post">
      <label style="color: #4AC282">Enter your username: </label>
      <input type="text" name="username">
      <button class="myscore" type="submit" name="button" value="0">Submit</button>
    </form>
  </div>
  <div class="container">
    <div lass="row">

      <div type="button" id="green" class="btn green">

      </div>

      <div type="button" id="red" class="btn red">

      </div>
    </div>

    <div class="row">

      <div type="button" id="yellow" class="btn yellow">

      </div>
      <div type="button" id="blue" class="btn blue">

      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="game.js" charset="utf-8"></script>

</body>

</html>
